<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{data["name"]}}'s Resume</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  </head>

  <body class="container-fluid">

    <div class="container-fluid">
      <div class="d-flex flex-row">
        <div class="mr-auto pt-5">
          <h1>{{data["name"]}}</h1>
          <h8>{{data.headline}}</h8>
        </div>
        <div class="pt-5">
          <div class="list-unstyled">
            <li>{{ data.contactinfo["street_address"] }}</li>
            <li>{{data.contactinfo["city_state_zip"]}}</li>
            <li>{{data.contactinfo["phone"]}}</li>
            <li><a href="{{data.contactinfo['website']}}" target="_blank">{{data.contactinfo["website"]}}</a></li>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid summary">
        <h2>Summary</h2>
        <p>{{data["summary"]}}</p>
    </div>

    <div class="container-fluid education">
      <h2>Education</h2>
      <div class="list-unstyled">
        {%- for school,schools in data.education.items() %}
          {%- for entry, entries in schools.items() if entries|length > 1 %}
            <li class="{{ entry }}">{{ entries }}</li>
          {%- endfor %}
        {% endfor %}
      </div>
    </div>

    <div class="container-fluid experience">
      <h2 class="pt-3">Experience</h2>
        {% for employer, employers in data.experience.items() %}
        <div class="list-unstyled">
          {% for entry,entries in employers.items() if entries|length > 1 %}
            {% if entries is sequence and entries is not string %}
              <li class="{{ entry }}">{{ entries|join(", ") }}</li>
            {% else %}
              <li class="{{ entry }}">{{ entries }}</li>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="container-fluid languages">
      <h2 class="pt-3">Technical Skills</h2>
      <p><b>Languages</b></p>
      <ul>
        {% for language,description in data.languages.items() %}
          <li>{{language|title}}: {{description}}</li>
        {% endfor %}
      </ul>
      <p><b>Utilities</b></p>
      <ul>
          {% for utilities,utility in data.tools_and_utils.items() %}
            <li>{{utilities}}: {{utility|join(", ")}}</li>
          {% endfor %}
      </ul>
    </div>
    <div class="d-flex justify-content-center ">
        <a class="p-4" href="{{data.contactinfo['github']}}" target="_blank">{{data.contactinfo["github"]}}</a>
        <a class="p-4" href="{{data.contactinfo['linkedIn']}}" target="_blank">{{data.contactinfo["linkedIn"]}}</a>
    </div>

  </body>
</html>
